body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1918px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:url('../../images/index/u0_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:93px;
  overflow:hidden;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/index/u1_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:177px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:103px;
  width:711px;
  height:177px;
  opacity:0.4;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:42px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:618px;
  width:711px;
  height:42px;
  opacity:0.2;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:370px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:670px;
  width:711px;
  height:370px;
  opacity:0.32;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:937px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:103px;
  width:1150px;
  height:937px;
  opacity:0.4;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:1048px;
  width:337px;
  height:30px;
  font-family:'細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 153, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 153, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 153, 255, 0.647058823529412);
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:116px;
  width:35px;
  height:27px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:112px;
  width:97px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:676px;
  width:28px;
  height:20px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:674px;
  width:73px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:706px;
  width:687px;
  height:318px;
  overflow:hidden;
}
#u15_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:318px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:320px;
  overflow:hidden;
}
#u16_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:320px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:36px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:45px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:123px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:119px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:113px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:109px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:0px;
  width:163px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#65C1FF;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:159px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:290px;
  width:712px;
  height:320px;
  overflow:hidden;
}
#u25_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:320px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:400px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:400px;
  font-size:48px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:320px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:370px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:370px;
  font-size:48px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:320px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:390px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:0px;
  width:760px;
  height:390px;
  font-size:48px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:33px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1879px;
  top:438px;
  width:21px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.4;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:33px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:438px;
  width:21px;
  height:33px;
  opacity:0.4;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:596px;
  width:36px;
  height:7px;
  overflow:hidden;
}
#u31_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:596px;
  width:36px;
  height:7px;
  overflow:hidden;
}
#u35_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:596px;
  width:36px;
  height:7px;
  overflow:hidden;
}
#u39_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:7px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:626px;
  width:27px;
  height:27px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1314px;
  top:628px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background-image:none;
}
#u45_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u45_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u45_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:157px;
  width:1114px;
  height:867px;
}
#u48_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:867px;
  overflow:hidden;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:108px;
  width:687px;
  height:162px;
  overflow:hidden;
}
#u49_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  height:20px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:73px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 153, 204, 0.349019607843137);
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#65C1FF;
  text-align:center;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:52px;
  width:211px;
  height:20px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#65C1FF;
  text-align:center;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
  text-align:center;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:88px;
  width:211px;
  height:38px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
  text-align:center;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:42px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:113px;
  width:23px;
  height:22px;
  font-size:20px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:93px;
  width:61px;
  height:16px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:120px;
  width:64px;
  height:30px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:93px;
  width:61px;
  height:16px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:113px;
  width:23px;
  height:22px;
  font-size:20px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:120px;
  width:64px;
  height:30px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:93px;
  width:61px;
  height:16px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:120px;
  width:64px;
  height:30px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:42px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:113px;
  width:23px;
  height:22px;
  font-size:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:42px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:43px;
  width:23px;
  height:22px;
  font-size:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:23px;
  width:81px;
  height:16px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:52px;
  width:83px;
  height:30px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:23px;
  width:81px;
  height:16px;
  opacity:0.65;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#65C1FF;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:51px;
  width:83px;
  height:30px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:42px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:44px;
  width:23px;
  height:22px;
  font-size:20px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:123px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:23px;
  width:1px;
  height:122px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
